

<link href="@Href("~/style/test.css")" rel="stylesheet" type="text/css" />
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">

</head>

<body>
	<h2>연습용 페이지</h2>

	<div id="media1">

		<img src="http://cfile29.uf.tistory.com/image/23620E4057E37EED15F101" width="400" height="400">

		<div class="button_wrap">
			<span>
				<input type="button" value="추천" id="up_button" style="WIDTH: 50px; HEIGHT: 50px;">
			</span>
			<span>
				<input type="button" value="비추" id="under_button" style="WIDTH: 50px; HEIGHT: 50px">
			</span>
		</div>
	</div>


	<div id="up_list">
		<span>친구 등록</span>
		<span>회원 정보</span>
		<span>게시글</span>
		<span>친구 찾기</span>
		<span>랄라랄랄</span>
	</div>


	<div id="media2"></div>



	<script src="~/script/test.js" language="javascript" type="text/javascript" ></script>
</body>
</html>