<html>
<head>
<title><%=title%></title>


<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> 



</head>

<body>

<div id='reac'></div>
<div>김그노</div>


<script src='/views/dd.js' type='text/jsx'></script>  
  


<script>
   var i =document.getElementById('reac');
   i.innerHTML ='';
</script>

</body>

</html>